/*OC*/

.oc__header--font-size {
  font-size: 1.75rem;
  color: var(--color-black);
}

.oc__separator--padding {
  padding: 2rem 0 2rem 0;
}

.oc__accueil--title--font-size {
  font-size: 1.5rem;
}

.oc__accueil--author--font-size {
  font-size: 1rem;
  line-height: 1.5rem;
}

.oc__accueil--quote--date--font {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.link__row {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  width: 100%;
  height: 392px;
  border: solid 1px #dddddd;
}

.link__list-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link__list--color::marker {
  color: #000091;
}
