.table-cols-2 .table-th,
.table-td {
  width: calc(1248px / 2);
}

.table-cols-3 .table-th,
.table-td {
  width: calc(1248px / 3);
}

.table-cols-4 .table-th,
.table-td {
  width: calc(1248px / 4);
}

.table-cols-5 .table-th,
.table-td {
  width: calc(1248px / 5);
}

.table-cols-6 .table-th,
.table-td {
  width: calc(1248px / 6);
}

.table-cols-7 .table-th,
.table-td {
  width: calc(1248px / 7);
}

.table-cols-8 .table-th,
.table-td {
  width: calc(1248px / 8);
}
.table-cols-9 .table-th,
.table-td {
  width: calc(1248px / 9);
}
.table-cols-10 .table-th,
.table-td {
  width: calc(1248px / 10);
}
.table-th:not(.table-th--active) > span {
  opacity: 0.3;
}
.table-th:hover > span {
  opacity: 1;
}
