.fr-accordion__btn--no-icon:after {
  display: none;
}

.fr-accordion__btn--bg-blue,
.fr-accordion__btn--bg-blue:hover,
.fr-accordion__btn--bg-blue:not(:disabled):hover {
  background-color: var(--open-blue-france, #e3e3fd);
}

.fr-accordion__btn--txt-blue {
  color: var(--high-blue-france, #000091);
}

.fr-collapse--transition {
  transition:
    margin-top 0.3s ease,
    padding-top 0.3s ease,
    padding-bottom 0.3s ease,
    visibility 0.3s ease;
  will-change: margin-top, padding-top, padding-bottom, visibility;
}

.fr-collapse--max-h-full {
  max-height: 100%;
}

.fr-accordion__btn--padding {
  padding: 0.5rem 1.5rem;

  @media (min-width: 1024px) {
    padding: 0.5rem 2.5rem;
  }
}
