@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
:root {
  --border-default-grey: #ffffff;

  --color-blue: #000091;
  --color-black: #000000;
  --tuile-detail-color: #3a3a3a;
  --link-row-border-color: #dddddd;
  --link-detail-color: #666666;

  --tuile-title-font-size: 1.25rem;
  --tuile-title-line-height: 1.75rem;

  --tuile-detail-font-size: 1rem;
  --tuile-detail-line-height: 1.5rem;

  --gray: #3a3a3a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fr-footer {
  background-color: white;
  box-shadow:
    0 -2px 0 0 var(--border-default-grey),
    inset 0 -1px 0 0 var(--border-default-grey) !important;
}

.max-w-lg {
  max-width: 85rem !important;
}

.dialog-off-canvas-main-canvas {
  background-color: #f9f6f2;
}

.App-link {
  color: #61dafb;
}

.start > h1 {
  margin-left: 100px;
}
.identite > label {
  padding: 20px;
}
h1 {
  margin: 10px;
}
button {
  float: left;
}
.form-group {
  margin-top: 15px;
}

.register-form {
  margin-top: 26px;
}
.form-container {
  padding: 60px;
}
.side-container {
  background-color: #5757ac;
}
input[type='submit']:focus {
  background-color: #000091;
}
link {
  border: 1px solid black;
  color: #eeeeee;
}

.date > div {
  display: inline-grid;
  margin: 5px;
}
.adresse {
  display: flex;
  justify-content: space-between;
}

.personnelle,
.professionnelle {
  flex: 2;
  padding: 20px;
}

.label-with-asterisk {
  position: relative;
}

.label-with-asterisk span {
  color: red;
  margin-left: 3px;
}

.buttons > Button {
  margin: 10px;
}
.buttons {
  justify-content: flex-end;
  display: flex;
}

.bg-primary {
  color: #000091;
}
.btBlue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  isolation: isolate;

  width: 215px;
  height: 40px;

  background: #000091;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btBlue {
  font-family: 'Marianne', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #f5f5fe;
}
.btWhite {
  font-family: 'Marianne', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #000091;
  color: #0974f6;
}

.btblue:focus {
  position: absolute;
  display: none;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #0974f6;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.bodyDossier {
  font-family: Marianne, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #3a3a3a;

  margin-left: 30px;
}
input[type='checkbox'] {
  margin-right: 5px;
}
.App p {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.client-div {
  margin: 2% 10%;
}

.form-clients {
  display: inline-block;
}

.client-input {
  background-color: lightgray;
}

.txt-chapo {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}
